body {
    transition: all 1s ease-in-out;
}
.store-banner {
    margin-top: 76px;
}
.link-page {
    padding: 12px 0 12px 12px;
    background-color: #5D7B6F;
    text-align: center; 
    color: #fff;
}

.link-page a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.link-page a:hover {
    color: black;
}

.review-product {
    margin-top: 16px;
}

.row {
    margin-left: 0!important;
    margin-right: 0!important ;
}

.danhmucsanpham li {
    list-style: none;
    padding: 12px;
}

.danhmucsanpham li a {
    text-decoration: none;
    color: #000000;
    transition: .5s;
}

.danhmucsanpham li a:hover {
    color: #5D7B6F;
}

.nghesi li {
    list-style-type: circle;
    
}

@media (max-width: 800px) {
    .link-page span {
        font-size: 12px;
    }
}

@media (max-width: 368px) {
    .store-banner {
        margin-top: 70px;
    }
}